<div class="well">
	<h2 class="align-center">Edit Wholesaler Listing</h2>

	<%= render 'form' %>

	<%= link_to 'Back', @listing %> |
	<%= link_to 'All Listings', listings_path %>

	<p> TODO: Note to self. They should not be charged extra for updating things., unless they are changing the type of listing they are making to one of a resource from one of a wholesaler. Or maybe they shouldn't even be able to do that. Maybe they should just be able to create a category of listing and not change the type of listing from the two main types. </p>
</div><!-- end .well -->