<div class="well">
	<h2 class="align-center blue">Edit Wholesaler Listing</h2>

	<%= render 'form' %>

	<% if user_signed_in? %>
		<%= link_to "Delete", @listing, method: :delete %> | 
	<% end %>

	<%= link_to 'Back', @listing %> &nbsp;|&nbsp;
	<%= link_to 'All Listings', listings_path %>

	<p></p>

	
</div><!-- end .well -->