<div class="well">
	<h2 class="align-center blue">Edit Wholesaler Listing</h2>

	<%= render 'form' %>

	<br>
	<%= link_to 'Back', @listing %> &nbsp;|&nbsp;
	<%= link_to 'All Listings', listings_path %> 

	<% if user_signed_in? %>
		&nbsp;|&nbsp; <%= link_to "Delete Listing", @listing, method: :delete %>
	<% end %>

	<p></p>

	
</div><!-- end .well -->