<div class="well">
	<h2 class="align-center">Create a New Wholesaler Listing</h2>
	<p class="align-right"><%= link_to 'See All Listing Types', new_listing_choice_path, class: "btn btn-default btn-sm" %></p>

	<p class="align-center">After you complete this form and submit payment, cash buyers looking for off market properties in your market will be able to view your profile and contact you directly.</p>

	<%= render 'form' %>

	<p>To create mutliple listings, add them one by one.</p>

	<p>TODO: Next: Payment method</p>

    <%= link_to root_path, class: 'btn btn-default btn-md align-center' do %>
      <span class="glyphicon glyphicon-list align-center" aria-hidden="true"></span>
                See All States
    <% end %>
</div><!-- end .well -->