<div class="well">
	<h2 class="align-center blue">Create a New Wholesaler Listing</h2>
	<p class="align-right"><%= link_to 'Back to Listing Types', new_listing_choice_path %></p>

	<h5 class="align-center">After you complete this form and submit payment, cash buyers looking for off market properties in your market will be able to view your profile and contact you directly.</h5>

	<%= render 'form' %>
	TODO: Next: Payment method

	<br>
	<h5 class="align-right blue">To create mutliple listings, add them one by one.</h5>

</div><!-- end .well -->