<div class="well">

	<h2 class="align-center">Create a New Wholesaler Listing</h2>

	<h5 class="align-center">After you select your wholesaling location, cash buyers looking for off market properties in your market will be able to view your profile and contact you directly.</h5>

	<p class="align-center">You have created <%= current_user.listings.count %> / 50 possible listings.</p>

	<%= render 'form' %>

	<br>
	<h5 class="align-right">To list your company in more than one location, create a new listing per each location.  <br>You can add up to 50 listings per each active account with us.</h5>

</div><!-- end .well -->