<div class="well">
	<h2 class="align-center">Create a New Wholesaler Listing</h2>

	<p> TODO: drop down - Choose between wholesaler listing or resource listing </P>
	<p>If they have chosen the wholesaler option, go to this form...</p>
	<p>Once you complete this form and submit payment, cash buyers looking for off market properties in your market will be able to contact you directly.</p>

	<%= render 'form' %>

	<p>TODO: Next: Payment method</p>

	<p> TODO: next it should link to the payment processing part of the form</p>

	<br>

	<%= link_to 'See All Wholesaler Listings', root_path %>
</div><!-- end .well -->