<h2>Create a New Listing</h2>

<p> TODO: drop down - Choose between wholesaler listing or resource listing </P>

<p>Once you complete this form and submit payment, cash buyers looking for off market properties in your market will be able to contact you directly.</p>

<%= render 'form' %>

<%= link_to 'See All Listings', listings_path %>

<p> TODO: next it should go to the payment processing part, which may be on the _form or maybe should be here.</p>

<br>