<div class="well">

TODO this area should go in a modal and see if not subscribed only
	<p>To create a new wholesaler listing, you must be an active subscriber. Once you have subscribed, you can list your company as a wholesaler up to 50 times.</p>
	<p>A subscription to Real Estate Wholesaler Database is just $9/month USD, and you can cancel at any time.</p>
	<p> TODO Click here to start a subscription with one a month free trial. </p>
	<p> Questions? Maybe our <%= link_to "FAQ", about_path %> page can help</p>
<hr>


	<h2 class="align-center">Create a New Wholesaler Listing</h2>
	<p class="align-right"><%= link_to 'Back to Listing Types', new_listing_choice_path %></p>

	<h5 class="align-center">After you complete this form and submit payment, cash buyers looking for off market properties in your market will be able to view your profile and contact you directly.</h5>

	<%= render 'form' %>

	<br>
	<h5 class="align-right blue">To create mutliple listings, add them one by one.</h5>

</div><!-- end .well -->