<!-- This will be sent to the user  after they create an account -->

<p>You have successfully created an account with Real Estate Wholesaler Database.  Your username is your email address: <%= @user.email %></p>

<p>The next step is to sign up for an acive montly user subscription by clicking <%= link_to 'here' new_listing_path %>. Once you are an active user, you may begin annoucing your wholealing business on our site in up to 50 locations.</p>

<p>Congratulations!</p>

<p>Now go... your free 30 day trial is waiting.</p>


