
<h3>Have a question?</h3>
<h3 class="indent hidden-xs">Want to suggest a feature for this site?</h3>
<h3 class="visible-xs-block">Want to suggest a feature for this site?</h3>
<h3 class="indent hidden-xs"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;Contact us by emailing below...</h3>
<h3 class="visible-xs-block"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;Contact us by emailing below...</h3>

<div class="row">
	<div class="col-sm-12">
		<div class="well">
			<h4 class="align-center"><b> &nbsp;Team@REWholesalerDatabase.com</b></h4>
			<br>
			<p>We prefer to handle all customer inquiries by email.  If this is a problem for you, please let us know by email and we will reconsider posting a contact phone number.</p>

			<br>
			<p class="align-center"><b>Why don't we post our company phone number?</b></p>
			<p>We believe in business automation.  These days, most things that cannot be automated can be handled by email.  It is likely that we are either out in the world investing, or building the next and even better web application for real estate invstors.  We apologize for any inconvenience.</p>

			<br>
			<p class="align-center" id="FAQ-link"><b>HAPPY INVESTING!</b></p>
		</div>
	</div><!-- end col-sm-8 -->
	<div class="col-sm-12">
		<div class="well" id="FAQ">
			<h3><u>Frequently Asked Questions:</u><h3>
			<p class="question">How many listings can I create under one account?</p>
			<p class="answer">You may create up to 50 listings per account.</p>
			<!-- <p class="question">What happens if I do not pay my subscription for a month or more?</p>
			<p class="answer">Your account will become inactive. Your listings and account information will be saved for at least a year, at which time we have a right to delete your account and all its corresponding information.</p>
			<p class="question">If I cancel my subscription, will my listings be saved?</p>
			<p class="answer">Yes, your listings will be saved. They just will not be displayed in the site.</p> -->
			<p class="question">Can I transfer my listings from one account to another?</p>
			<p class="answer">No.</p>
			<p class="question">I have joined the mailing list. Do I still need to create an account?</p>
			<p class="answer">Yes, joining our mailing list lets you receive our email newsletters and alerts, it does not add you to our database as a user.</p>
		</div><!-- end well -->
	</div><!-- end col -->
</div><!-- end row -->

