
<h3>Have a question?</h3>
<h3 class="indent hidden-xs">Want to suggest a feature for this site?</h3>
<h3 class="visible-xs-block">Want to suggest a feature for this site?</h3>
<h3 class="indent hidden-xs"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;Contact us by emailing below...</h3>
<h3 class="visible-xs-block"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;Contact us by emailing below...</h3>

<div class="row">
	<div class="col-sm-8">
		<div class="well">
			<h4 class="align-center"><b> &nbsp;Team@REWholesalerDatabase.com</b></h4>
			<br>
			<p>We prefer to handle all customer inquiries by email.  If this is a problem for you, please let us know by email and we will reconsider posting a phone number.</p>

			<br>
			<p class="align-center"><b>Why don't we post a phone number?</b></p>
			<p>We believe in business automation.  These days, most things that cannot be automated can be handled by email.  It is likely that we are either out in the world investing, or building the next and even better web application for real estate invstors.  We apologize for any inconvenience.</p>

			<br>
			<p class="align-center"><b>HAPPY INVESTING!</b></p>
		</div>
	</div><!-- end col-sm-8 -->
	<div class="col-sm-4">
		<div class="well">
			<%= render 'layouts/newsletter' %> 
		</div><!-- end well -->
	</div><!-- end col -->
</div><!-- end row -->

