
<h3 class="align-center">Your Current Listings:</h3>
<br>

<%=  %>


<p>ruby loop to display all the listings, and give an option for user to delete or edit them particularly. (They will edit or cancel one on each listing page itself)</p>