
<!DOCTYPE html>
<html lang="en">

<!-- written by Alison Ostendorf
	Project: Real Estate Wholesaler Database
	to be posted at rewholesalerdatabase.com when all done
    team@rewholesalerdatabase.com
	contact: aostendorf@gmail.com -->

 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Chris Castiglione, and the One Month team">
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

<head>

    <title>Real Estate Wholesaler Database</title>


</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


    <div class="container" id="main-container">

        <div class="social-media-container">

        
           
            <h6 class="inline">Please like us on facebook --></h6>

            <a href="https://www.facebook.com/REWholesalerDatabase" target="_none">
            	<%= image_tag('facebook.png', alt: "facebook") %></a>

            <a href="https://twitter.com/REWholesalerDb" alt="twitter" target="_none"><%= image_tag('twitter.png', alt: 'twitter') %></a><br>

             <div class="fb-like" data-href="https://www.facebook.com/REWholesalerDatabase" data-width="50" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>


            <button>TODO: Sign up for email updates</button>
        </div><!-- end social media div -->
        <div class="clear"></div>

        <div>
            <a class="no-decoration"><href="index.html" alt="Real Estate Wholesaler"><h1>Real Estate Wholesaler Database</h1></a>
            <h3 class="tagline"> No more scouring Craigslist or contacting bandit signs to find off market property deals...<br> Contact real estate property wholesalers in your investing market directly. </h3>
        </div>
        <div class="clear"></div>


        <div class="container" id="main-nav-container">
            <nav>
                <ul>
                    <li><a href="index.html" class="vertical-line">Wholesaler Database</a></li>
                    <li><a href="learnwholesaling.html" class="vertical-line">Learn Wholesaling</a></li>
                    <li><a href="contactus.html">Contact Us</a></li>
                </ul>    
            </nav>
        </div><!--end #main-nav-container --> 

        <br>

        <button>List yourself as a wholesaler</button>
        <div class="clear"></div>
    

        <br>

        <div class="wholesaler-areas">
             <h4><strong>Where would you like to find wholesalers?</strong></h4>
            <br>
        
            <div class="row">
            
                <div class="col-md-2">
                    <ul class="location-lists">
                        <li><a>Alabama</a></li>
                        <li><a>Alaska</a></li>
                        <li><a>Arizona</a></li>
                        <li><a>Arkansas</a></li>
                        <li><a>California</a></li>
                        <li><a>Colorado</a></li>
                        <li><a>Connecticut</a></li>
                        <li><a>Delaware</a></li>
                        <li><a>Florida</a></li>
                    </ul>
                
                 </div><!-- end col 1 of 6 -->

                 <div class="col-md-2">
                    <ul class="location-lists">
                        <li><a>Georgia</a></li>
                        <li><a>Hawaii</a></li>
                        <li><a>Idaho</a></li>
                        <li><a>Illinois</a></li>
                        <li><a>Indiana</a></li>
                        <li><a>Iowa</a></li>
                        <li><a>Kansas</a></li>
                        <li><a>Louisiana</a></li>
                        <li><a>Maine</a></li>
                    </ul>
                </div>  

                <div class="col-md-2">
                     <ul class="location-lists">
                        <li><a>Maryland</a></li>
                        <li><a>Massachusetts</a></li>
                        <li><a>Michigan</a></li>
                        <li><a>Minnesota</a></li>
                        <li><a>Mississippi </a></li>
                        <li><a>Missouri</a></li>
                        <li><a>Montana</a></li>
                        <li><a>Nebraska</a></li>
                        <li><a>Nevada</a></li>
                    </ul>
                </div>

                <div class="col-md-2"> 
                     <ul class="location-lists">
                        <li><a>New Hampshire</a></li>
                        <li><a>New Jersey</a></li>
                        <li><a>New Mexico</a></li>
                        <li><a>New York</a></li>
                        <li><a>North Carolina</a></li>
                        <li><a>North Dakota</a></li>
                        <li><a>Ohio</a></li>
                        <li><a>Oklahoma</a></li>
                        <li><a>Oregon</a></li>
                    </ul>
                 </div>

                  <div class="col-md-2"> 
                     <ul class="location-lists">
                        <li><a>Pennsylvania</a></li>
                        <li><a>Rhode Island</a></li>
                        <li><a>South Carolina</a></li>
                        <li><a>South Dakota</a></li>
                        <li><a>Tennessee</a></li>
                        <li><a>Texas</a></li>
                        <li><a>Utah</a></li>
                        <li><a>Vermont</a></li>
                        <li><a>Virginia</a></li>
                    </ul>
                 </div>

                 <div class="col-md-2"> 
                     <ul class="location-lists">
                        <li><a>Washington</a></li>
                        <li><a>West Virginia</a></li>
                        <li><a>Wisconsin</a></li>
                        <li><a>Wyoming</a></li>
                    </ul>
                 </div>
                

            </div><!--end row of states -->

            <h6>Note: We will be expanding to Canada shortly...</h6>
        </div><!-- end wholesaler areas -->



        <div class="explanation">
            <h4><strong>What is Real Estate Wholesaling?</strong></h4>
            <br>
            <p>Real estate wholesaling is the most popular and widely-taught method of breaking into the real estate investing scene.   With little or no money down, you follow these steps: <br>
                <div class="internal-list">
             1. Put a property under contract for a cash purchase, usually a property that needs a lot of work or where the seller is in distress. (make sure this contract is assignable)<br>
             2. You  assign the contract to a cash buyer who wants to flip the property, who will pay slightly more for it than what you have it under contract for <br>
             3. All three parties directly involved in the transaction set up a closing date, and at closing you walk away with a check for the difference between the initial contract and the marked up price that the end user pays.  
                <br><br>
             <em>The wholesaler walks away with what usually resembles a profit (aka "finder's fee"), of about 10% of the initial contract price.</em>
                 </div><!--end .internal-list -->
                 <br>
            Investors like buying from wholesalers because they are experts in their market, they have a lot of properties to choose from, and the job of finding the deal is done for them.  All the investor has to do is flip the house for a profit.  <br>
            Find wholesalers in your market by selecting your preferred location above.
            </p>
            <a href="learnwholesaling.html" class="align-right-float">Learn more about real estate wholesaling here</a>
            <br>

        </div><!--close .explanation -->
        <br>
        <div class="clear"></div>

    
        <div>
            <footer>
                <ul class="footer-lists">
                    <li>List yourself as a wholesaler</li>
                    <li>List yourself as a wholesaling resource</li>
                    <li>Contact us at team@rewholesalerdatabase.com</li>
                </ul>
                
            </footer>
        </div> 


    </div><!--end #main-container -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>

</vody>
</html>