
<div class="well align-center">

	<h3>Which type of new listing would you like to create?</h3>

	<br><br>

	<%= link_to 'New Wholesaler Listing', new_listing_path, class: 'btn btn-info btn-lg' %> ...or... 
	<%= link_to 'New Wholesaling Educational Resource', new_resource_path, class: 'btn btn-info btn-lg' %>

	<br><br><br>

</div>