 <br><br>

<div class="jumbotron">
	<h2>Learn Real Estate Wholesaling</h2>

</div><!-- end jumbotron -->	





 <button>TODO: List yourself as a trainer</button>
 		<div class="clear"></div>
 <br>

 <div class="well">
 	wholesaler trainers list themselves here
 </div>