<div class="well">
	<h2 class="align-center">New Wholesaling Education Resource</h2>

	<%= render 'form' %>

	<%= link_to resources_path, class: 'btn btn-default btn-md' do %>
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to All
    <% end %>

</div><!-- end .well -->

