<div class="well">

	<h2 class="align-center blue">Create New Resource for Wholesalers</h2>

	<%= render 'form' %>

	<br>

	<%= link_to resources_path, class: 'btn btn-info btn-sm' do %>
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span> View All Resources
    <% end %>

</div><!-- end .well -->

