<form class="form-view agile-form-transparent" id="agile-form" action="https://rewholesalerdatabase.agilecrm.com/formsubmit" method="GET">
<fieldset>

<!-- Form Name -->
<legend>REWD Mailing List</legend>
<div style="display: none; height: 0px; width: 0px;">
<input type="hidden" id="_agile_form_name" name="_agile_form_name" value="REWD Mailing List">
<input type="hidden" id="_agile_domain" name="_agile_domain" value="rewholesalerdatabase">
<input type="hidden" id="_agile_api" name="_agile_api" value="aihste865k0a5jtfmdvf7d05v7">
<input type="hidden" id="_agile_redirect_url" name="_agile_redirect_url" value="#">
<input type="hidden" id="_agile_form_id_tags" name="tags" value="REWDlist">

     <input type="hidden" id="_agile_form_id" name="_agile_form_id" value="5678205671309312">
</div>
<!-- Text input-->
<div class="agile-group required-control">
  <label class="agile-label" for="">Full Name</label>
  <div class="agile-field-xlarge agile-field">
	<input id="" name="first_name" type="text" placeholder="Your Full Name" class="agile-height-default" required="">
  </div>
  <div class="agile-custom-clear"></div>
</div>
<!-- Text input-->
<div class="agile-group required-control">
  <label class="agile-label" for="agilefield-1">Email Address</label>
  <div class="agile-field-xlarge agile-field">
	<input id="agilefield-1" name="email" type="email" placeholder="Company Email Address" class="agile-height-default" required="">
  </div>
  <div class="agile-custom-clear"></div>
</div>
<!-- Button -->
<div class="agile-group">
  <label class="agile-label">&nbsp;</label>
  <div class="agile-field">
    <button type="submit" class="agile-button">Subscribe</button><span id="agile-error-msg"></span>
  </div>
</div>

</fieldset>
</form>
<style type="text/css">
.form-view{font-family:Tahoma,Geneva,sans-serif;width:99%}.agile-group{margin-bottom:15px}.agile-label{float:left;overflow:hidden;padding:7px 25px 4px 0;text-align:left;word-wrap:break-word;width:100%;font-size:15px}.agile-group label{font-weight:400}.agile-label::first-letter{text-transform:capitalize}.agile-field{display:inline-block}.agile-field-small{width:100px}.agile-field-medium{width:150px}.agile-field-large{width:200px}.agile-field-xlarge{width:250px}.agile-height-small{padding:5px 10px!important}.agile-height-default{padding:6px 12px!important}.agile-height-large{padding:10px 16px!important}.agile-field input[type=email],.agile-field input[type=text]{padding:6px 12px}.agile-field select{border-radius:4px;border:1px solid #ccc;width:100%;box-shadow:0 1px 1px rgba(0,0,0,.075) inset}.agile-input-group{border-collapse:separate;display:table;position:relative}.agile-input-group input[type=email],.agile-input-group input[type=text]{display:table-cell}.agile-input-group .agile-group-addon:first-child,.agile-input-group input[type=email]:first-child,.agile-input-group input[type=text]:first-child{border-bottom-right-radius:0;border-top-right-radius:0}.agile-input-group .agile-group-addon:last-child,.agile-input-group input[type=email]:last-child,.agile-input-group input[type=text]:last-child{border-bottom-left-radius:0;border-top-left-radius:0}.agile-group-addon:first-child,.agile-input-group input[type=email]:first-child,.agile-input-group input[type=text]:first-child{border-right:0 none}.agile-group-addon{background:#eee;border:1px solid #ccc;display:table-cell;font-size:14px;padding:3px 12px;text-align:center}.agile-group-addon-append{border-bottom-right-radius:4px;border-top-right-radius:4px}.agile-group-addon-prepend{border-top-left-radius:4px;border-bottom-left-radius:4px}input[type=email],input[type=password],input[type=url],input[type=text],textarea{border:1px solid #ccc;border-radius:4px;box-shadow:0 1px 1px rgba(0,0,0,.075) inset;color:#555;font-size:14px;line-height:1.42857;transition:border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;width:100%;margin:0}input[type=email]:focus,input[type=url]:focus,input[type=password]:focus,input[type=text]:focus,textarea:focus{border:1px solid #66afe9}.agile-btn-red{background:#ff604f!important;margin-left:10px}.help-block{color:#999;margin:0;font-size:14px;text-transform:capitalize}legend{border-bottom:1px solid #eee;margin-bottom:18px;padding-bottom:6px;width:100%;font-weight:700;font-size:20px}fieldset{border:none}.agile-custom-clear{clear:both}#agile-error-msg{position:relative;top:2px;left:8px;color:red;font-size:12px}.error{color:red}.agile-form-transparent input,.agile-form-transparent select,.agile-form-transparent textarea{background-color:transparent !important;border:1px solid #fff;border-radius: 0 !important;}.agile-form-transparent ::-webkit-input-placeholder{color:#fff}.agile-form-transparent :-moz-placeholder{color:#fff}.agile-form-transparent ::-moz-placeholder{color:#fff}.agile-form-transparent :-ms-input-placeholder{color:#fff}
</style>
<script type="text/javascript">
(function(a){var b=a.onload,p=false;if(p){a.onload="function"!=typeof b?function(){try{_agile_load_form_fields()}catch(a){}}:function(){b();try{_agile_load_form_fields()}catch(a){}}};a.document.forms["agile-form"].onsubmit=function(a){a.preventDefault();try{_agile_synch_form_v4()}catch(b){this.submit()}}})(window);
</script>