<form class="form-view agile-form-transparent" id="agile-form" action="https://rewholesalerdatabase.agilecrm.com/formsubmit" method="GET">
	<fieldset>

	<!-- Form Name -->
	<div style="display: none; height: 0px; width: 0px;">
	<input type="hidden" id="_agile_form_name" name="_agile_form_name" value="REWD Mailing List">
	<input type="hidden" id="_agile_domain" name="_agile_domain" value="rewholesalerdatabase">
	<input type="hidden" id="_agile_api" name="_agile_api" value="aihste865k0a5jtfmdvf7d05v7">
	<input type="hidden" id="_agile_redirect_url" name="_agile_redirect_url" value="#">
	<input type="hidden" id="_agile_form_id_tags" name="tags" value="REWDlist">

	     <input type="hidden" id="_agile_form_id" name="_agile_form_id" value="5678205671309312">
	</div>
		<!-- <p class="blue text-center">Sign up for our mailing list to receive updates when new wholesalers and new site features are added.</p> -->
	<!-- Text input for Full Name (registers as First Name in Agile) -->

		<div class="form-group">
		  <label for="">Your Full Name</label>
		  <div>
			<input id="" name="first_name" type="text" placeholder="My Full Name" required="" class="form-control">
		  </div>
		</div>
		<!-- Text input for email address-->
		<div class="form-group">
		  <label for="agilefield-1">Your Email Address</label>
		  <div>
			<input id="agilefield-1" name="email" type="email" placeholder="Me@MyCompany.com" class="form-control" required="">
		  </div>
		</div>
		<br>
		<!-- Subscribe Button -->
		<div>
		  <div class="text-center">
		    <button type="submit" class="btn btn-primary btn-md text-center">Sign Up</button>
		    <span id="agile-error-msg"></span>
		  </div>
		</div>

	</fieldset>
</form>

<script type="text/javascript">
(function(a){var b=a.onload,p=false;if(p){a.onload="function"!=typeof b?function(){try{_agile_load_form_fields()}catch(a){}}:function(){b();try{_agile_load_form_fields()}catch(a){}}};a.document.forms["agile-form"].onsubmit=function(a){a.preventDefault();try{_agile_synch_form_v4()}catch(b){this.submit()}}})(window);
</script>