<div class="jumbotron">
        <div>
            <a class="no-decoration"><href="index.html" alt="Real Estate Wholesaler"><h1>Real Estate Wholesaler Database</h1></a>
            
            <h3 class="tagline"> No more scouring Craigslist or contacting bandit signs to find off market property deals...<br> Contact real estate property wholesalers in your investing market directly. </h3>
        </div>

        <div class="clear"></div>

        <div class="container" id="main-nav-container">
            <nav>
                <ul>
                    <li><%= link_to "Wholesaler Database", root_path, class: "vertical-line nav-only" %></li>
                    <li><%= link_to "Learn Wholesaling", wholesaling_path, class: "vertical-line nav-only" %></li>
                    <li><%= link_to "Contact Us", about_path, class: "vertical-line nav-only"%></li>
                </ul>    
            </nav>
        </div><!--end #main-nav-container --> 
    </div> <!-- end jumbotron div -->
