
<div class="container-fluid">
    <div class="jumbotron">
        <div>

            <h1><%= image_tag 'rewd_logo_v1.png', class: 'logo-image' %><%= link_to "Real Estate Wholesaler Database", root_path, class: "no-decoration", alt: "Real Estate Wholesaler" %></h1>
            
            <h3 class="tagline1 blue"><strong>Made for investors, by investors.</strong></h3>

            <h3 class="tagline-question"> Where would you like to search for real estate wholesalers?</h3>
        </div><!-- end logo and header div -->
        
        <hr>

    </div> <!-- end jumbotron div -->
</div><!-- end container fluid div -->
