<br><br>
<div class="container-fluid">
    <div class="jumbotron">
        <div>
            <a class="no-decoration"><href="index.html" alt="Real Estate Wholesaler"><h1>Real Estate Wholesaler Database</h1></a>
            
            <h3 class="tagline"><strong>Made for investors, by investors.</strong></h3>

            <h3 class="tagline"> No more scouring Craigslist or contacting bandit signs to find off market property deals...<br> Contact real estate property wholesalers in your investing market directly.</h3>
        </div><!-- end logo and header div -->

            <h3 class="tagline"> No more scouring Craigslist or contacting bandit signs to find off market property deals...<br> Real estate investing doesn't have to be sketchy.<br>Browse our database of real estate investment wholesalers in your area below, and contact them directly.</h3>
        </div>
        
        <nav class="center-block" alt="Navigation">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 align-center no-wrap pages-links"><%= link_to "Wholesaler Database", root_path %></div>
                <div class="col-md-4 col-sm-12 col-xs-12 align-center no-wrap pages-links"><%= link_to "Learn Wholesaling", resources_path %></div>
                <div class="col-md-4 col-sm-12 col-xs-12 align-center no-wrap pages-links"><%= link_to "Contact Us", about_path %></div>
            </div><!--row-->
        </nav>

    </div> <!-- end jumbotron div -->
</div><!-- end container fluid div -->