<div class="container">
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-1">TODO: Activate Modal</button>
	<div class="modal fade" id="modal-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-heading">Modal Title Heading</h3>
				</div><!-- end .modal-header -->
				<div class="modal-body">
				    TODO: Put Sign up or newsletter or whatever main content here
				</div><!-- end .modal-body -->
				<div class="modal-footer">
 					This is footer text. Submit payment or whatever final stuff.
				</div><!-- end .modal-footer -->
			</div><!-- end .modal-content-->
		</div><!-- end .modal-dialog -->
	</div><!-- end .modal -->
</div><!-- end .container -->