<nav>

	<div class="small-logo"><%= link_to root_path do %>
        <%= image_tag('rewd_logo_v1_small.png', class: 'logo-image-small') %>   
      <% end %>
    </div><!-- end logo -->





	<section id="hamburger-menu-area" class"small-nav-only">
	  <span id="nav-hamburger">&#9776;</span><br>
	  <span id="hamburger-menu-label">Menu</span>
	</section><!-- end #hamburger-menu-area -->

<hr>
</nav>