<div class="container text-center">
	<div class="modal fade" id="modal-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-heading">Newsletter Sign Up</h3>
				</div><!-- end .modal-header -->
				<div class="modal-body">
				    TODO: Put newsletter content here.
				    TODO make sure that this is centered on screen on large.
				</div><!-- end .modal-body -->
				<div class="modal-footer">
					Real Estate Wholesaler Database
				</div><!-- end .modal-footer -->
			</div><!-- end .modal-content-->
		</div><!-- end .modal-dialog -->
	</div><!-- end .modal -->
</div><!-- end .container -->