
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Wholesaler details...">
              <span class="input-group-btn">
                <button class="btn btn-primary btn-sm" type="button">Search</button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
    </div><!-- end .row for search bar -->

    <br>
    <div class="row">
        <h4 class="align-center"><strong>Or view all listed wholesalers of any US State...</strong></h4><br>
    </div><!-- end .row -->